<div class="row align-items-center">

    <div class="col mb-2">
        <span class="">{{dataTable.count}} registros encontrados</span>
    </div>

    <div class="col col-lg-2">
        <div class="form-group">
            <select class="form-control custom-select" [(ngModel)]="dataTable.pageSize"
                (change)="onChangedPageSize.emit($event.target.value)">
                <option *ngFor="let pageSize of pageSizeOptions" [value]='pageSize'>{{pageSize}}</option>
            </select>
        </div>
    </div>

</div>

<div class="table-responsive">
    <table class="table table-hover" *ngIf="dataTable.result.length > 0">
        <thead>
            <tr>
                <th *ngFor="let item of dataTableHead">
                    <span *ngIf="item =='checkbox'">
                        <input type="checkbox" [checked]="isCheckAllChecked" (change)="onCheckAllRows()" value=""
                            id="checkAllCheckBox"> </span>
                    <span *ngIf="item !=='checkbox'">
                        {{item}}
                    </span>
                </th>

                <!-- Row Edit/Detail -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr class="clickable-area" *ngFor="let data of dataTable.result; let dataIndex = index">
                <td *ngFor="let property of dataTableProperties; let propertyIndex = index"
                    (click)="onRowChecked(dataIndex)">

                    <!-- Checkbox -->
                    <span *ngIf=" property.type=='checkbox'">
                        <input type="checkbox" [checked]="data.isChecked" value="" id="dataIndex">
                    </span>

                    <!-- Text -->
                    <span *ngIf="property.type=='text'">
                        {{data[property.name]}}
                    </span>

                    <!-- Date -->
                    <span *ngIf="property.type=='date'">
                        {{data[property.name] | date: 'dd/MM/yyyy'}}
                    </span>

                    <!-- Boolean -->
                    <div class="custom-control custom-switch" *ngIf="property.type=='boolean'">

                        <input type="checkbox" [checked]="data[property.name]" class="custom-control-input"
                            [id]="data.id" (change)="onChangeBooleanValue.emit(data)">

                        <label class="custom-control-label" [for]="data.id"></label>
                    </div>
                </td>
                <td (click)="getDetail.emit(data.id)">
                    <a>
                        <i class="nc-icon nc-minimal-right"></i>
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td [attr.colspan]="dataTableHead.length +1">
                    <ngb-pagination [page]="dataTable.currentPage" [pageSize]="dataTable.pageSize"
                        [collectionSize]="dataTable.count" (pageChange)="onChangedPage.emit($event)">
                    </ngb-pagination>
                </td>
            </tr>
        </tfoot>

    </table>

</div>
<div class="text-center mt-5 mb-5">
    <span *ngIf="dataTable.result.length == 0">Nenhum registro encontrado!</span>
</div>