<form class="px-1" [formGroup]="profileForm" (ngSubmit)="onSubmit()" (keydown.enter)="$event.preventDefault()">

    <div class="row">
        <div class="col-md-12">
            <div class="card card-user">
                <div class="card-header">

                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="card-title">{{pageTitle}}</h5>
                        </div>
                        <div class="col-sm-6 ">
                            <ul class="nav justify-content-end">
                                <li class="nav-item float-left">
                                    <button type="button" (click)='onCancel()'
                                        class="btn btn-dark btn-round">Cancelar</button>
                                </li>
                                <li class="nav-item">
                                    <button type="submit" [disabled]="!profileForm.valid"
                                        class="btn btn-primary btn-round">Salvar</button>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label>Nome</label>
                                <input formControlName="nome" type="text" class="form-control">

                                <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="text-danger">
                                    <div *ngIf="nome.errors.required">{{fieldRequiredMessage}}</div>
                                </div>
                            </div>

                        </div>

                        <div class="col-md-6">

                            <div class="form-group">
                                <label>E-mail</label>
                                <input formControlName="email" type="email" class="form-control">

                                <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
                                    <div *ngIf="email.errors.required">{{fieldRequiredMessage}}</div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <button type="button" class="btn btn-outline-primary btn-round"
                        (click)="isAlterarSenhaCollapsed = !isAlterarSenhaCollapsed"
                        [attr.aria-expanded]="!isAlterarSenhaCollapsed" aria-controls="alterarSenha">
                        Alterar Senha
                    </button>
                    <div id="alterarSenha" [ngbCollapse]="isAlterarSenhaCollapsed">

                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label>Nova Senha</label>
                                    <input formControlName="novaSenha" type="password" class="form-control"
                                        autocomplete="off">

                                    <div *ngIf="novaSenha.invalid && (novaSenha.dirty || novaSenha.touched)"
                                        class="text-danger">
                                        <div *ngIf="novaSenha.errors.required">{{fieldRequiredMessage}}</div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label>Confirmar Nova Senha</label>
                                    <input formControlName="confirmarNovaSenha" type="password" class="form-control"
                                        autocomplete="off">

                                    <div *ngIf="confirmarNovaSenha.invalid && (confirmarNovaSenha.dirty || confirmarNovaSenha.touched)"
                                        class="text-danger">
                                        <div *ngIf="confirmarNovaSenha.errors.confirmPasswordValidator">As
                                            senhas não são as
                                            mesmas!</div>
                                        <div *ngIf="confirmarNovaSenha.errors.required">{{fieldRequiredMessage}}
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    <label>Senha Atual</label>
                                    <input formControlName="senhaAtual" type="password" class="form-control"
                                        autocomplete="off">
                                    <small class="text-muted">Campo obrigatório somente para atualização de
                                        senha</small>
                                </div>

                            </div>
                        </div>


                    </div>


                </div>
            </div>
        </div>
    </div>
</form>