.card-header .card-title {
  display: inline-block;
}

.card-header .header-button {
  float: right;
}

.search-input-table {
  align-self: center;
}

ngb-pagination {
  ul {
    justify-content: center;
  }
}