.card-header .card-title {
  display: inline-block;
}

.card-header .header-button {
  float: right;
}

.search-input-table {
  align-self: center;
}

ngb-pagination {
  ul {
    justify-content: center;
  }
}

.modal {
  backdrop-filter: blur(5px);
  background-color: #01223770;
  overflow: auto;
}
