<div class="col-md-12">

    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">

                <div class="col-xl-4">
                    <form (keydown)="search($event)">
                        <div class="input-group no-border mb-0">
                            <input type="text" value="" class="form-control" placeholder="Procurar...">
                            <div class="input-group-append">
                                <button class="input-group-text px-2" type="submit">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-xl-8 text-right">
                    <toolbar-button *ngFor="let button of toolbarButtons" [toolbarButton]="button"
                        (onClick)="button.function($event)"></toolbar-button>
                </div>

            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">

            <data-table [dataTable]="dataTable" [dataTableHead]="dataTableHead"
                [dataTableProperties]="dataTableProperties" [pageSizeOptions]="pageSizeOptions"
                (onChangedPage)="onChangedPage($event)" (onChangedPageSize)="onChangedPageSize($event)">
            </data-table>

        </div>
    </div>
</div>