<div class="col-md-12">

    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <form (keydown)="search($event)">
                        <div class="input-group no-border mb-0">
                            <input type="text" value="" class="form-control" placeholder="Procurar...">
                            <div class="input-group-append">
                                <button class="input-group-text px-2" type="submit">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-xl-8 text-right">
                    <!-- <button class="col-xl-3 btn btn-default btn-round px-auto mx-1">
                        <i class="nc-icon nc-cloud-download-93"></i>
                        Exportar
                    </button> -->
                    <!-- <button class="col-xl-3 btn btn-info btn-round px-auto mx-1">
                        <i class="nc-icon nc-zoom-split"></i>
                        Filtro
                    </button> -->
                    <button class="col-xl-3 btn btn-success btn-round px-auto mx-1">
                        <i class="nc-icon nc-simple-add"></i>
                        Novo
                    </button>
                </div>


            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">

                <div class="col mb-2">
                    <span class="">{{dataList.count}} registros encontrados</span>
                </div>

                <div class="col col-lg-2">
                    <div class="form-group">
                        <select class="form-control custom-select" [(ngModel)]="dataList.pageSize"
                            (change)="onChangedPageSize($event.target.value)">
                            <option *ngFor="let pageSize of pageSizeOptions" [value]='pageSize'>{{pageSize}}</option>
                        </select>
                    </div>
                </div>

            </div>

            <div class="table-responsive">
                <table class="table table-striped" *ngIf="dataList.result.length > 0">
                    <thead>
                        <tr>
                            <th *ngFor="let item of dataTableHead">{{item}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of dataList.result">
                            <td>{{ data.id }}</td>
                            <td>{{ data.login }}</td>
                            <td>{{ data.createdAt | date:'dd/MM/yyyy' }}</td>
                            <td>{{ data.updatedAt | date:'dd/MM/yyyy'}}</td>
                            <td>{{ data.ativo }}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td [attr.colspan]="dataTableHead.length">
                                <ngb-pagination [page]="dataList.currentPage" [pageSize]="dataList.pageSize"
                                    [collectionSize]="dataList.count" (pageChange)="onChangedPage($event)">
                                </ngb-pagination>
                            </td>
                        </tr>
                    </tfoot>

                </table>

            </div>
            <div class="text-center mt-5 mb-5">
                <span *ngIf="dataList.length == 0">Nenhum registro encontrado!</span>
            </div>
        </div>
    </div>
</div>