<div class="col-md-12">

    <div class="card">
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <form (keydown)="search($event)">
                        <div class="input-group no-border mb-0">
                            <input type="text" value="" class="form-control" placeholder="Procurar...">
                            <div class="input-group-append">
                                <button class="input-group-text px-2" type="submit">
                                    <i class="nc-icon nc-zoom-split"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="col-xl-8 text-right">
                    <!-- <button class="col-xl-3 btn btn-default btn-round px-auto mx-1">
                        <i class="nc-icon nc-cloud-download-93"></i>
                        Exportar
                    </button> -->
                    <!-- <button class="col-xl-3 btn btn-info btn-round px-auto mx-1">
                        <i class="nc-icon nc-zoom-split"></i>
                        Filtro
                    </button> -->
                    <button class="col-xl-3 btn btn-success btn-round px-auto mx-1">
                        <i class="nc-icon nc-simple-add"></i>
                        Novo
                    </button>
                </div>


            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
      
            <data-table [dataTable]="dataTable" [dataTableHead]="dataTableHead" [dataTableProperties]="dataTableProperties"
                (onChangedPage)="onChangedPage($event)" (onChangedPageSize)="onChangedPageSize($event)"
                [pageSizeOptions]="pageSizeOptions">
            </data-table>

        </div>
    </div>
</div>