.login-page {
  background: #f4f3ef!important;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  display: flex;
  align-self: center;
}

.login-box{
    width: 300px;
}

