<div class="row">
    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group form-control-lg">
                            <form class="px-1" [formGroup]="validaProdutoForm" (ngSubmit)="onSubmit()"
                                (keydown.enter)="$event.preventDefault()">

                                <input id="token-input" formControlName="token" type="text" class="form-control"
                                    placeholder={{placeholderTokenInput}}>
                                <div class="text-center mt-4">
                                    <button type="submit"
                                        class="btn btn-round btn-lg btn-success btn-block">Validar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<valida-produto-modal [autorizacao]="autorizacao"></valida-produto-modal>