<div class="row">

    <div class="col-md-12">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Novo Administrador</h5>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <label>Login</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Senha</label>
                                <input type="password" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6 px-1">
                            <div class="form-group">
                                <label>Confirmar Senha</label>
                                <input type="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button [routerLink]="['/adm']" class="btn btn-danger btn-round">Cancelar</button>
                            <button type="submit" class="btn btn-primary btn-round">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>