<footer class="footer">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>

                <li>
                    <a href="" target="_blank">
                        Fale Conosco
                    </a>
                </li>
                <li>
                    <a href="" target="_blank">
                        Sobre nós
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{date | date: 'yyyy'}}, Desenvolvido por
            <a href="https://www.linkedin.com/in/lucas-cotrim-4466548b/" target="_blank">Lucas Cotrim</a>
        </div>
    </div>
</footer>